@tailwind base;
@tailwind components;

@layer components {
  .song-details {
    @apply m-0 flex flex-row items-center h-full w-[30%] min-w-[11.25rem];
  }

  .song-details-text-container {
    grid-template:
      "title title"
      "badges subtitle" / auto 1fr;
    @apply items-center grid gap-x-2 mx-4;
  }

  .song-details-artist-align {
    grid-area: subtitle;
    grid-column-start: badges;
    @apply w-full min-w-0;
  }

  .song-details-artist-container {
    @apply overflow-hidden -mx-2;
  }

  .song-details-artist-offset {
    padding-inline-start: 6px;
    padding-inline-end: 12px;
    transform: translateX(var(--trans-x));
    @apply flex whitespace-nowrap w-fit;
  }

  .artist-text {
    @apply text-sm text-gray-800 dark:text-gray-200 font-normal truncate cursor-default;
  }

  .artist {
    @apply hover:underline cursor-pointer;
  }

  .song-details-cover-art {
    @apply relative h-4/5 aspect-square;
  }

  .song-details-expand {
    @apply absolute right-0 top-0 scale-0;
  }

  .song-details-expand-button {
    @apply absolute right-0 top-0 object-cover rounded-full bg-opacity-75 dark:bg-opacity-75 bg-gray-350 dark:bg-black
      w-5 h-5 m-0.5 flex items-center justify-center hover:h-6 hover:w-6;
  }

  .song-details-expand-button-icon {
    @apply fill-gray-800 dark:fill-gray-200 h-[90%] w-[90%] m-0 opacity-100
      stroke-gray-800 dark:stroke-gray-200 hover:stroke-1;
  }

  .song-details-cover-art-image {
    @apply h-full w-full;
  }
}
