/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

:root {
  --tooltip-margin: 32px;
  --tooltip-arrow-size: 8px;
}

#root {
  position: relative;
  isolation: isolate;
  z-index: 0;
  @apply h-full;
}

.cet-titlebar {
  @apply !bg-gray-150 dark:!bg-gray-850;
}

.cet-menubar-menu-container {
  @apply !bg-gray-200 dark:!bg-gray-900;
}

.cet-action-label.separator {
  @apply !border-gray-750 dark:!border-gray-250;
}

.keybinding {
  @apply !text-gray-900 dark:!text-gray-100;
}

.cet-menu-item-icon {
  @apply !fill-gray-900 dark:!fill-gray-100;
}

.cet-action-label {
  @apply !text-gray-900 dark:!text-gray-100;
}

.focused > .cet-action-menu-item {
  @apply !bg-gray-900 dark:!bg-gray-100 !bg-opacity-10 dark:!bg-opacity-10;
}

.cet-icon {
  @apply !flex !justify-center !items-center;
}

.cet-icon > svg {
  @apply !fill-gray-850 dark:!fill-gray-150;
}

.cet-menubar-menu-title {
  @apply !text-gray-900 dark:!text-gray-100;
}

.cet-titlebar .cet-window-title {
  @apply !text-gray-900 dark:!text-gray-100 !flex-auto !flex-shrink !justify-center !flex;
}

.cet-submenu-indicator > svg {
  @apply !fill-gray-550 dark:!fill-gray-450;
}

.cet-submenu-item:hover .cet-submenu-indicator > svg {
  @apply !fill-gray-900 dark:!fill-gray-100;
}

@layer components {
  .tooltip-tip {
    @apply absolute rounded left-1/2 -translate-x-1/2 p-2
      bg-gray-600 dark:bg-gray-550 text-white dark:text-white text-sm leading-none whitespace-nowrap z-50
      before:left-1/2 before:border-solid before:border-transparent before:h-0 before:w-0 before:absolute
      before:pointer-events-none before:border-[calc(1*var(--tooltip-arrow-size))]
      before:ml-[calc(-1*var(--tooltip-arrow-size))];
  }

  .tooltip-tip.top {
    @apply before:top-full before:border-t-gray-600 dark:before:border-t-gray-550
      top-[calc(-1*var(--tooltip-margin))];
  }

  .tooltip-tip.right {
    @apply before:left-[calc(-1*var(--tooltip-arrow-size))] before:top-1/2 
      before:translate-x-0 before:-translate-y-1/2 before:border-r-gray-600 dark:before:border-r-gray-550
      left-[calc(100%+var(--tooltip-margin))] top-1/2 translate-x-0 -translate-y-1/2;
  }

  .tooltip-tip.bottom {
    @apply before:bottom-full before:border-b-gray-600 dark:before:border-b-gray-550
      bottom-[calc(-1*var(--tooltip-margin))];
  }

  .tooltip-tip.left {
    @apply before:left-auto before:right-[calc(-2*var(--tooltip-arrow-size))] before:top-1/2 
      before:translate-x-0 before:-translate-y-1/2 before:border-l-gray-600 dark:before:border-l-gray-550
      left-auto right-[calc(100%+var(--tooltip-margin))] top-1/2 translate-x-0 -translate-y-1/2;
  }
}

@layer utilities {
  .non-scale-stroke {
    vector-effect: non-scaling-stroke;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 dark:bg-green-400;
}
