@tailwind base;
@tailwind components;

@layer components {
  .media-container {
    @apply fixed bottom-0 left-0 z-30 
      h-[90px] w-full
      bg-gray-350
      dark:bg-gray-750 px-4;
  }
  .media-controls {
    @apply flex h-full 
      w-full flex-row justify-between items-center;
  }

  .media-controls-center {
    @apply flex
      w-2/5 min-w-fit max-w-[45rem] flex-col items-center justify-center;
  }

  .media-controls-right {
    @apply w-[30%] min-w-[11.25rem] flex flex-row justify-end items-center;
  }

  .media-controls-right-container {
    @apply flex flex-grow justify-end items-center;
  }

  .media-icon {
    @apply m-0 w-4 h-4 cursor-pointer fill-gray-450 transition-all duration-300 ease-in-out hover:fill-gray-550 dark:fill-gray-550 hover:dark:fill-gray-150;
  }

  div.has-media {
    @apply bg-gray-800 dark:bg-gray-150
      hover:bg-gray-600 dark:hover:bg-gray-350;
  }

  .has-media-icon {
    @apply fill-gray-600 hover:fill-gray-550 dark:fill-gray-500 hover:dark:fill-gray-350;
  }
  /* svg.has-media {
    @apply fill-gray-600
      hover:fill-gray-550
      dark:fill-gray-500
      hover:dark:fill-gray-350;
  } */
}
