@tailwind base;
@tailwind components;

@layer components {
    .media-container {
        @apply fixed bottom-0 left-0 z-30 
            h-32 w-full
            bg-gray-350
            dark:bg-gray-750;
    }
    .media-controls {
        @apply h-32 w-full 
            flex flex-row justify-between;
    }

    .media-controls-center {
        @apply h-full w-full
            flex flex-1 flex-col items-center justify-start;
    }

    .media-icon {
        @apply cursor-pointer
            m-2 
            fill-gray-450
            hover:fill-gray-550 
            dark:fill-gray-550 
            hover:dark:fill-gray-150
            transition duration-300 ease-in-out;
    }
}
