@tailwind base;
@tailwind components;

@layer components {
  .media-controls-progress-container {
    @apply h-5 w-4/5
      flex flex-row flex-1 items-center justify-center;
  }

  .media-controls-progress-bar {
    @apply relative
      box-border rounded-full 
      h-1 w-full
      bg-gray-450
      dark:bg-gray-600;
  }

  .media-controls-progress-bar-progress {
    @apply absolute z-10
      box-border rounded-full
      h-full
      bg-gray-550
      dark:bg-gray-250;
  }

  .media-controls-progress-bar-progress-dragging {
    @apply bg-green-500
      dark:bg-green-500;
  }

  .media-controls-progress-bar-scrubber {
    margin-left: calc(0 - 325% * 40%);
    @apply absolute -top-[calc(325%*40%)] z-20 
      box-border rounded-full
      h-13/4 aspect-square scale-0
      shadow shadow-gray-800 dark:shadow-gray-250;
  }

  .media-controls-progress-bar-scrubber-dragging {
    @apply scale-100
      bg-gray-550
      dark:bg-gray-250;
  }
}
