@tailwind base;
@tailwind components;

@layer components {
  .media-controls-volume-bar-container {
    @apply flex h-5
      w-full flex-1 flex-row items-center justify-center;
  }

  .media-controls-volume-bar {
    @apply relative 
      box-border h-1
      w-full rounded-full 
      bg-gray-450
      dark:bg-gray-600;
  }

  .media-controls-volume-bar-fill {
    @apply absolute z-10
      box-border h-full 
      rounded-full
      bg-gray-500
      dark:bg-gray-550;
  }

  .media-controls-volume-bar-fill-dragging {
    @apply bg-green-500
      dark:bg-green-500;
  }

  .media-controls-volume-bar-scrubber {
    @apply absolute h-full w-full top-[calc((50%*-1)+1px)]
      ml-[calc(50%*-1)]
      box-border rounded-full
      bg-gray-450
      dark:bg-gray-600
      shadow shadow-gray-800 dark:shadow-gray-250;
  }

  .media-controls-volume-bar-scrubber-container {
    @apply absolute z-20
      box-border rounded-full
      h-13/4 aspect-square scale-0;
  }

  .media-controls-volume-bar-scrubber-container-dragging {
    @apply scale-100;
  }

  .media-controls-volume-bar-scrubber-dragging {
    @apply bg-gray-550
      dark:bg-gray-250;
  }
}
