/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

#root {
  position: relative;
  isolation: isolate;
  z-index: 0;
}

@layer components {
  .app {
    grid-template-columns: auto 1fr;
    @apply grid h-screen w-full min-h-screen relative overflow-y-hidden;
  }
  .media-controls {
    @apply fixed bottom-0 left-0 w-full h-32 bg-gray-350 dark:bg-gray-750 z-30;
  }

  .media-controls__container {
    @apply flex flex-row items-center justify-center h-full w-full;
  }

  .media-icon {
    @apply fill-gray-800 dark:fill-white bg-white dark:bg-gray-600 h-14 w-14 rounded-full
    m-4 hover:h-16 hover:w-16 transition-all duration-300 ease-in-out cursor-pointer;
  }
  .top-navigation {
    @apply flex flex-row items-center justify-evenly
    bg-gray-300 dark:bg-gray-700 z-10 w-full h-16 m-0 sticky top-0 bottom-0
    shadow-lg;
  }

  .content {
    @apply bg-gray-300 dark:bg-gray-700 relative flex flex-col h-full w-full overflow-hidden;
  }

  .content-list {
    @apply flex flex-col items-start justify-start h-full w-full overflow-y-scroll;
  }

  .content-item {
    @apply w-full text-gray-800 dark:text-white text-center;
  }

  .sidebar {
    @apply m-0 w-56 bg-gray-200 dark:bg-gray-800 z-20 text-gray-800 dark:text-white;
  }

  .sidebar__container {
    @apply sticky top-0 bottom-0 flex flex-col;
  }

  .top-navigation-icon {
    @apply text-gray-500
    mr-3 ml-4
    transition duration-300 ease-in-out 
    hover:text-stone-400
    cursor-pointer;
  }
}

@tailwind utilities;

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 dark:bg-green-400;
}
