/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components{
  .top-navigation {
    @apply flex flex-row items-center justify-evenly
    bg-gray-300 dark:bg-gray-700 bg-opacity-90
    w-full h-16
    m-0
    shadow-lg;
  }

  .content-container {
    @apply flex flex-col
    bg-gray-300 dark:bg-gray-700
    m-0
    h-full w-full
    overflow-hidden;
  }
}
